<div class="wrapper">
  <mat-card class="login-card">
    <mat-card-title> Register </mat-card-title>

    <form [formGroup]="registerForm" (ngSubmit)="PostData(registerForm)">
      <div class="form-wrapper">
        <div>
          <div class="container">
            <div>
              <mat-form-field>
                <mat-label>First Name</mat-label>
                <input
                  type="text"
                  formControlName="firstName"
                  matInput
                  placeholder="Enter your First Name"
                />
              </mat-form-field>
              <br />
              <span *ngIf="f['firstName'].touched && f['firstName'].invalid">
                Please enter a valid first name
              </span>

              <mat-form-field>
                <mat-label>Last Name</mat-label>
                <input
                  type="text"
                  formControlName="lastName"
                  matInput
                  placeholder="Enter your Last Name"
                />
              </mat-form-field>
              <br />
              <span *ngIf="f['lastName'].touched && f['lastName'].invalid">
                Please enter a valid last name
              </span>

              <mat-form-field>
                <mat-label>Email</mat-label>
                <input
                  type="text"
                  formControlName="email"
                  type="email"
                  matInput
                  placeholder="Enter your Email"
                  pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
                />
              </mat-form-field>

              <br />
              <span *ngIf="email && email.invalid && email.touched">
                Please enter a valid email
              </span>

              <div class="form-group">
                <mat-form-field>
                  <mat-label>Password</mat-label>
                  <input
                    class="form-control"
                    formControlName="password"
                    type="password"
                    matInput
                    placeholder="Enter your Password"
                    pattern="^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[#?!@$%^&*-])\S{8,}$"
                  />
                </mat-form-field>
                <div *ngIf="password&& password.invalid && password.touched">
                    Password must be 8 characters long and must include: <br />
                    At least one upper case English letter<br />
                    At least one lower case English letter<br />
                    At least one digit<br />
                    At least one special character<br />
                    No spaces
                </div>
              </div>

              <div class="form-froup">
                <mat-form-field>
                  <mat-label>Confirm Password</mat-label>
                  <input
                    class="form-control"
                    type="password"
                    matInput
                    placeholder="Enter your Password again"
                    formControlName="confirmPassword"
                  />
                </mat-form-field>
                <div
                  *ngIf="
                    f['confirmPassword'].touched && f['confirmPassword'].invalid
                  "
                >
                  <div
                    *ngIf="
                      f['confirmPassword'].errors &&
                      f['confirmPassword'].errors['required']
                    "
                  >
                    Password is required.
                  </div>
                  <div
                    *ngIf="
                      f['confirmPassword'].errors &&
                      f['confirmPassword'].errors['ConfirmedValidator']
                    "
                  >
                    Password and confirmed password must match.
                  </div>
                </div>
              </div>

              <!-- image input -->
              <div class="image-input">
                <mat-card class="image-card">
                  <mat-card-subtitle>Your profile picture</mat-card-subtitle>
                  <img mat-card-image [src]="url" alt="profile picture" />
                  <mat-card-actions>
                    <input
                      formControlName="image"
                      type="file"
                      (change)="selectFile($event)"
                    />
                  </mat-card-actions>
                </mat-card>
                <div *ngIf="image && image.invalid && image.touched">
                  Profile picture is required.
              </div>
              </div>
            </div>

            <div>
              <div>
                <mat-form-field>
                  <mat-label>Website</mat-label>
                  <input
                    type="text"
                    matInput
                    placeholder="Enter website url"
                    formControlName="website"
                    pattern="^(?:http(s)?:\/\/)?[\w.-]+(?:\.[\w\.-]+)+[\w\-\._~:/?#[\]@!\$&'\(\)\*\+,;=.]+$"
                  />
                </mat-form-field>
                <div *ngIf="website && website.invalid && website.touched">
                    Invalid URL
                </div>
              </div>

              <div>
                <mat-form-field>
                  <mat-label>College</mat-label>
                  <mat-select formControlName="college">
                    <mat-option value="none">None</mat-option>
                    <mat-option value="College A">College A</mat-option>
                    <mat-option value="College B">College B</mat-option>
                    <mat-option value="College C">College C</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>

              <div class="checkbox-div">
                <h3>Select your strengths</h3>
                <mat-checkbox formControlName="strength_A"
                  >Strength A</mat-checkbox
                >
                <mat-checkbox formControlName="strength_B"
                  >Strength B</mat-checkbox
                >
              </div>

              <div>
                <h3>Select gender</h3>
              <mat-radio-group formControlName="gender">
                <mat-radio-button value="Male">Male</mat-radio-button>
                <mat-radio-button value="Female">Female</mat-radio-button>
                <mat-radio-button value="Other">Other</mat-radio-button>
              </mat-radio-group>
              <div *ngIf="gender && gender.invalid && gender.touched">
                Please select an option
            </div>
              </div>

              <div>
                <mat-form-field>
                  <mat-label>Choose your DOB</mat-label>
                  <input
                    matInput
                    [max]="today"
                    [matDatepicker]="picker"
                    formControlName="dob"
                  />
                  <mat-hint>MM/DD/YYYY</mat-hint>
                  <mat-datepicker-toggle
                    matSuffix
                    [for]="picker"
                  ></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>

                <div *ngIf="dob && dob.invalid && dob.touched">
                  Date of birth is required.
              </div>
              </div>

              <div>
                <mat-form-field>
                  <mat-label>Tell us about yourself</mat-label>
                  <textarea
                    formControlName="about"
                    matInput
                    placeholder="I am..."
                  ></textarea>
                </mat-form-field>
                <div *ngIf="about && about.invalid && about.touched">
                  Please help us to know you better.
              </div>
              </div>
            </div>
          </div>

          <mat-card-actions>
            <button
              mat-raised-button
              color="primary"
              type="submit"
              value="Post Data"
            >
              Register
            </button>
            <div style="margin-top: 1em">
              <p>
                Already have an account?<a
                  routerLink="/"
                  routerLinkActive="active"
                  style="text-decoration: none; color: #ffa4c9"
                >
                  Login!
                </a>
              </p>
            </div>
          </mat-card-actions>
        </div>
      </div>
    </form>
  </mat-card>
</div>
